

  <nav class="navbar">
<% if (typeof userId === "undefined") { %>
    <!-- WHEN NOT LOGGED IN -->
    <div class="navbar-left">
    <a class="logo" href="/items">JZEL</a>
    <select class="dropdown" id="price-range-select" onchange="submitForm()">
      <option value="$0-$100" <%= typeof priceRange !== "undefined" && priceRange.min_price===0 && priceRange.max_price===100 ? 'selected' : false %>>Choose price range</option>
      <option value="$0-$5" <%= typeof priceRange !== "undefined" && priceRange.min_price===0 && priceRange.max_price===5 ? 'selected' : false %>>&lt;$5</option>
      <option value="$5-$10" <%= typeof priceRange !== "undefined" && priceRange.min_price===5 && priceRange.max_price===10 ? 'selected' : false %>>$5-$10</option>
      <option value="$10-$20" <%= typeof priceRange !== "undefined" && priceRange.min_price===10 && priceRange.max_price===20 ? 'selected' : false %>>$10-$20</option>
      <option value="$20-$100" <%= typeof priceRange !== "undefined" && priceRange.min_price===20 && priceRange.max_price===100 ? 'selected' : false %>>&gt;$20</option>
    </select>
  </div>
    <div class="sign-in">
      <form class="login-bar" action="/api/users/login/4" method="POST">
      <input
        class="username"
        type="username"
        name="username"
        placeholder="Enter username"
        required
      />
      <button type="submit" class="login-button">Login</button>
    </form>
  </div>
<% } else { %>



  <!-- WHEN LOGGED IN -->
  <div class="navbar-left">
    <a class="logo" href="/items">JZEL</a>
    <select class="dropdown" id="price-range-select" onchange="submitForm()">
      <option value="$0-$100" <%= typeof priceRange !== "undefined" && priceRange.min_price===0 && priceRange.max_price===100 ? 'selected' : false %>>Choose price range</option>
      <option value="$0-$5" <%= typeof priceRange !== "undefined" && priceRange.min_price===0 && priceRange.max_price===5 ? 'selected' : false %>>&lt;$5</option>
      <option value="$5-$10" <%= typeof priceRange !== "undefined" && priceRange.min_price===5 && priceRange.max_price===10 ? 'selected' : false %>>$5-$10</option>
      <option value="$10-$20" <%= typeof priceRange !== "undefined" && priceRange.min_price===10 && priceRange.max_price===20 ? 'selected' : false %>>$10-$20</option>
      <option value="$20-$100" <%= typeof priceRange !== "undefined" && priceRange.min_price===20 && priceRange.max_price===100 ? 'selected' : false %>>&gt;$20</option>
    </select>
  </div>
   <div class="navbar-right">

  <div class= "favourites-tab">
  <i class="fa-sharp fa-regular fa-heart"></i>
  <a class="favourites" href="/favourites">Favourites</a>
  </div>

  <div class= "message-tab">
  <i class="fa-regular fa-message"></i>
  <a class="messages" href="/messages">Messages</a>
  </div>

  <div class= "posted-tab">
  <i class="fa-solid fa-bars"></i>
  <a class="posted-ads" href="/admin">Posted Ads</a>
  </div>

  <div class= "post-tab">
  <i class="fa-solid fa-plus"></i>
  <a class="post-ad" href="/postad">Post Ad</a>
  </div>

    <!-- <img class="profile-picture" src="TBT" /> -->
    <form class="logout-form" action="/api/users/logout" method="POST">
      <button type="submit" class="logout-button">Logout</button>
    </form>
  </div>
  <%} %>
</nav>
