<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <title>AllItemst</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include('partials/_header') %>
    <div class="container mt-5">
      <h2 class="text-center mb-3">Conversation</h2>
      <% for (let i = 0; i < conversation.length; i++) { %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">
              Sent By
              <%= conversation[i].sender_name %>
            </h5>
            <p class="card-text">
              <%= conversation[i].message %>
            </p>
            <p class="card-text">
              <small class="text-muted">
                <%= conversation[i].time_sent %>
              </small>
            </p>
          </div>
        </div>
      <% } %>
      <form action="/messages" method="POST">
        <div class="form-group">
          <textarea class="form-control" name="message" rows="3"></textarea>
        </div>
        <input type="hidden" name="senderId" value="<%= userId %>">
        <input type="hidden" name="receiverId" value="<%= receiverId === userId ? senderId : receiverId %>">
        <input type="hidden" name="listingId" value="<%= listingId %>">
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </body>
</html>
