<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <title>JZEL | Home</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <!-- Bootstrap CSS -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>

  <!-- For Font Awesome 5 (Free version) -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>

    .heart-icon {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 24px;
      cursor: pointer;

      padding: 0 10px 10px 10px;
    }
    .heart-icon.fas {
      color: lightgray;
    }
    .heart-icon.favourited.fas {
      color: red;
    }
    img.imgitems {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
    .card {
      width: 350px;
      height: 450px;
      border-radius: 0 0 10px 10px;
      border: 1px solid #48004882;
    }
    .card-body {
      height: 200px;
      overflow: hidden;
      font-size: small;
    }
    .card-text {
      font-size: 1em;
    }

    .price {
      font-weight: bold;
      font-size: 1.2em;
      color: #480082;
    }

    .message-fav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 10px 10px 10px;
    }
    .message-fav button {
      padding: 10px 20px;
      border-radius: 20px;
      background-color: #480082;
      color: #fff;
      border: none;
      font-size: 11px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
    .message-fav button:hover {
      background-color: #1e73be;
      font-size: large;
    }
    .heart-icon:hover {
      font-size: 30px;
    }
.inactive {
  display: none;
}

.sold-image{
  opacity:0;
  position:absolute;
  height: 200px;
  width: 350px
}

.sold-image-visable{
  opacity:1;
}

  </style>

  <script>
    function hideButton() {
      $("#hiding").hide();
    }
    </script>

</head>
<body>
  <%- include('partials/_header') %>
      <div class="container mt-5">
        <div class="row">
          <h2 class="col-12 text-center mb-3">FEATURED ITEMS</h2>
    <% for (let i = 0; i < featuredItems.length; i++) { %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <img class="sold-image <%=featuredItems[i].sold_status ? 'sold-image-visable' : '' %>" src="/assets/sold.png")>
          <img class="imgitems" src="<%= featuredItems[i].photo_1 %>" alt="product thumbnail">
          <div class="card-body">
            <h5 class="card-title"><%= featuredItems[i].title %></h5>
            <p class="card-text price">$<%= featuredItems[i].price %></p>
            <p class="card-text"><%= featuredItems[i].description %></p>
          </div>


          <div class="message-fav">
            <%= (allItems[i].owner_id === userId) ? hideButton() : "" %>
            <button id="hiding" class="contact" onclick="window.location.href='/messages/<%= allItems[i].id %>/<%= userId %>/<%= allItems[i].owner_id %>'" >Contact</button>

        </div>

        </div>
      </div>
      <% } %>
    </div>
    <div class="row">
      <h2 class="col-12 text-center mb-3">ALL ITEMS</h2>
      <% for (let i = 0; i < allItems.length; i++) { %>
        <div class="col-md-4 mb-3">
          <div class="card allitems">
            <img class="sold-image <%=allItems[i].sold_status ? 'sold-image-visable' : '' %>" src="/assets/sold.png")>
            <img class="imgitems" src="<%= allItems[i].photo_1 %>" alt="product thumbnail">
            <div class="card-body">
              <h5 class="card-title"><%= allItems[i].title %></h5>
              <p class="card-text price">$<%= allItems[i].price %></p>
              <p class="card-text"><%= allItems[i].description %></p>
              <!-- Font Awesome Heart Icon -->
              <!-- </span> -->
            </div>
            <% if (allItems[i].favourite_status === 0) {%>
              <i class="heart-icon fas fa-heart" onclick="toggleFavouriteItems(event, '<%= allItems[i].id %>')"></i>
              <%} else {%>
                <i class="heart-icon favourited fas fa-heart" onclick="toggleFavourite(event, '<%= allItems[i].id %>')"></i>
                <%}%>
                <div class="message-fav">
                    <%= (allItems[i].owner_id === userId) ? hideButton() : "" %>
                    <button id="hiding" class="contact" onclick="window.location.href='/messages/<%= allItems[i].id %>/<%= userId %>/<%= allItems[i].owner_id %>'" >Contact</button>

                </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</body>

</html>
